# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
.github/**/node_modules/
dist/

# Go workspace file
go.work
go.work.sum

# env file
.env

THIRD_PARTY_NOTICES/

clients/gnome/node_modules/
clients/gnome/coverage/

# local c8 scratch
coverage/
